<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Sonidos APP
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

  <ion-refresher (ionRefresh)="recargar_animales($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list reorder="true">
      <ion-item-sliding *ngFor="let animal of animales; let i= index" >
        <ion-item  
          (click)="reproducir( animal )">
          <ion-avatar item-start>
            <img [src]="animal.imagen">
          </ion-avatar>
          <h2>{{animal.nombre}}</h2>
          <ion-icon *ngIf="!animal.reproduciendo" name="play" item-end></ion-icon>   
          <ion-icon *ngIf="animal.reproduciendo" name="pause" item-end></ion-icon>      
      </ion-item> 
    
      <ion-item-options side="right">
        <button ion-button color="danger"
        (click)="borrar_animal(i)">
          <ion-icon name="trash"></ion-icon>
          Borrar
        </button>
      </ion-item-options>
    </ion-item-sliding>   
  </ion-list>
</ion-content>
